<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
	      name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<title>Find Jobs</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
</head>
<body class="container" style="padding: 2.5em;">
<h1>Find Jobs</h1>
<form action="/results">
	<fieldset>
		<label>
			What is your skill?
			<input name="keyword"
			       required
			       placeholder="e.g., python"
			       autocomplete="given-name"/>
		</label>
	</fieldset>

	<input type="submit"
	       value="search"/>
</form>
</body>
</html>